:root {
    --val: rgba(0, 0, 0);
  }
  body {
    width: 100vw;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* outline: 1px solid black; */
  }
  h1{
    font-family: 'Arimo', sans-serif!important;
  }
  h2{
    font-family: 'Arimo', sans-serif!important;
  }
  h3{
    font-family: 'Arimo', sans-serif!important;
  }
  a{
    font-family: 'Arimo', sans-serif!important;
    text-decoration: none!important;
  }
  p{
    font-family: 'Arimo', sans-serif!important;
    margin:0!important;
  }
  span{
    font-family: 'Arimo', sans-serif!important;
  }
  nav {
    padding: 0 15%;
    background-color: #13514e;
  }
  .nav-mobile-container-div {
    position: absolute;
    z-index: 1000;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
  }
  .nav-mobile-container ul{
    padding: 0;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0!important;
  }
  
  .nav-links li {
    list-style: none;
    padding: 20px;
  }
  .nav-links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 13px!important;
    color: #fcb324;
  }
  .nav-input-section input {
    width: 180px;
    height: 36px;
    padding: 5px;
    background-image: url("../images/nav-input-search.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    background-size: 53px;
}
.nav-input-section input::placeholder{
    font-size: 12px;
}  
  .bars {
    width: 30px;
    height: 20px;
    display: none;
  }
  
  .bars span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: grey;
  }
  .displayNone {
    display: none;
  }
  .nav-mobile-container {
    display: none;
  }
  #banner-section{
    /*height: 85vh;*/
    width:100%;
    background-color: aquamarine;
  }
  .banner-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .banner-section video {
    width: -webkit-fill-available;
    height: 500px;
    width: 100%;
    object-fit: cover;
}
  .navbar-logo-img-div{
    height: 80%;
  }
  .navbar-logo-img-div img{
    height: 100%;
  }
.mk-link-btn {
    display: inline-block;
    padding: 10px 25px ;
    background-color: #fad002;
    text-align: center;
    text-decoration: none;
    margin-top: 24px;
    color: black;
    border-radius: 5px;
    font-size: 12px;
}
    .banner-section{
      position: relative;
    }
   .heading-text{
      position: absolute;
      top: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index:100;   
    }
  .heading-text h1 {
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.heading-text h1 span{
  color:#fad002;
}
.banner-section::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fad0026e;
   opacity: .6;
}
/*====================================WHAT WE DO START===========================================*/
.whatWeDo {
    position: relative;
    height: 750px;
}
.whatWeDo::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #13514e;
   opacity: .9;
   z-index: 100;
}
.whatWeDo-content-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid white; */
    z-index: 100;
    width: 75%;
}
.carousel-item img{
  width:100%;
  height: 750px!important;
  object-fit: cover;
}
.whatWeDo-content-div {
    text-align: center;
}
.main-para-whatDo {
  margin-bottom: 27px!important;
  text-align: center;
  color: white;
  font-size: 13px;
  color: #acbbc1;
}
.color-whatWeDo-btn{
  background-image: linear-gradient(to bottom,#a49334,#6e6633);
}
.main-head-whatDo{
  text-align: center;
}
.whatWeDo-content-div h2 {
    font-size: 40px;
    margin: 17px 0px;
    color: white;
    font-weight: 700;
}
.whatWeDo-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}
.whatWeDo-btns .whatWeDo-btn {
    background-color: #fff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.whatWeDo-btns .whatWeDo-btn p {
  font-size: 11px;
  color: #000;
}
.arrow-div {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.arrow-div p {
  letter-spacing: 4px;
  font-size: 17px;
  color: white;
}
.color-small-div{
  background-image: linear-gradient(to bottom,#a49334,#6e6633);
}
.arrow-div-span {
  color: #c1b35d!important;
  font-weight: 500;
  margin: 1px 3px;
}
.whatWeDo-btns .whatWeDo-btn img {
  width: 35px;
  height: 34px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.whatWeDo-patent-btn{
 /* position: relative;*/
 display: flex;
 justify-content: center;
 align-items: center;
 width: 110px;
  height: 110px;
  border: 1px solid white;
 border-radius: 50%;
 position:relative;
 /* animation: rotateCircle 3000ms ease-in 0 infinite forwards auto; */
 /* animation-name: rotateCircle;
 animation-duration: 3000ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear; */
}
/* @keyframes rotateCircle{
  from{
    transform: rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
} */
/* .whatWeDo-patent-btn::before{
  content:"";
  width: 10px;
  height: 10px;
  background-image:linear-gradient(to bottom,#a49334,#6e6633);
  position:absolute;
  left: 96%;
  border-radius: 50%;
} */
.color-border-2{
  border-color: #6e6633;
}
.whatWeDo-btn{
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
}
.arrow-div div{
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}
.arrow-div p span{
  color: white;
}

.whatWeDo-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    /* gap: 2rem; */
    background-color: white;
}
.whatWeDo-main-content div {
    width: 100%;
    height: 100%;
    text-align: justify;
    line-height: 18px;
}
.whatWeDo-main-content-para {
  padding: 2rem;
} 
.whatWeDo-main-content div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.whatWeDo-main-content div p {
    font-size: 13px;
    color: #456471;
    font-weight: 500;
    text-align: justify;
}
.whatWeDo-main-content div h3 {
    font-size: 19px;
    color: #000;
    font-weight: 500;
    margin-bottom: 1rem;
}
/*====================================WHAT WE DO END===========================================*/
 /*================================Responsive Css start======================================*/
  @media (max-width: 768px) {
    .nav-mobile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85vh;
      width: 100vw;
      background-color: var(--val);
      transition: transform 200ms ease-in-out;
      transform: translateX(100%);
    }
    .nav-mobile-container ul {
      list-style: none;
      height: 70vh;
      width: 45vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      font-size: 1.5rem;
      color: white;
  }
    .nav-mobile-container ul li {
      padding: 10px;
      transition: background-color 300ms ease-in-out;
    }
    .nav-mobile-container ul li:hover {
      background-color: #a49334;
    }
    .nav-mobile-container ul li a{
      font-size: 15px;
      color: yellowgreen;
    }
    .nav-links {
      display: none;
    }
    nav {
      box-shadow: 0 0 10px grey;
      padding: 0 3rem;
    }
    .bars {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      border-radius: 50%;
      /* border: 3px solid #ffc0a1; */
      width: 60px;
      height: 60px;
      padding: 10px;
      position: relative;
      z-index: 100;
      cursor: pointer;
      transform: scale(.7);
    }
    .bars::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 3px solid yellow;
      animation: hamburger_plus 1s ease infinite;
    }
  
    @keyframes hamburger_plus {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(1.4);
      }
    }
    .bars span {
      height:2px;
      width: 30px;
      position: relative;
      background-color: yellow;
      z-index: -1;
      transition: transform 200ms ease-in;
      margin: 4px;
    }
    .active-bars span:nth-child(2) {
      display: none;
    }
    .active-bars span:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }
    .active-bars span:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
    .translate-item {
      transform: translateX(0);
    }
    .displayNone {
      display: none;
    }
  }
/*================================Responsive Css end======================================*/ 
 /*joyoti's css*/

 .card-img img {
    height: 100%;
    width: 100%;
}
.card-img {
    height: 165px;
}
.card-btn {
    padding: 10px 10px;
    text-align: left;
}
.card-btn a {
    color: #000;
    background: #ffe500;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
}
.card-body {
    height: 135px;
    text-align: left;
    padding: 20px 10px!important;
}
.card-body h4 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.card-body p {
    font-weight: 600;
    color: #456471d1;
    font-size: 10px;
}
.card-committees {
    transition: 1s;
    border-radius: 6px;
    background: #fff;
    height: 375px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    /* transition-duration: 1000ms; */
}
.card-committees:hover {
    background: #f8f9fa;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
    transform: scale(1.1);
}
.committees-section {
    position: relative;
    overflow: hidden;
    background-image: url("../images/s7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*.committees-section:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right:0 ;
    background: #fff;
}*/
.all-heading-section h1{
    color: #fff;
    font-weight: 700;
}
.all-heading-section p {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}
.all-heading-section-last h1{
  color: #000;
  font-weight: 700;
  font-family: 'Arimo', sans-serif!important;
}
.all-heading-section-last p{
  font-size: 12px;
    color: #000;
    font-weight: 600;
    font-family: 'Arimo', sans-serif!important;
}
.blog-section {
  overflow: hidden;
  background: linear-gradient(#ffdb29, #ffdb29), url(../images/s8.jpg);
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
}
.single-item.item {
    height: 160px;
    border: 1px solid #fff;
    padding: 20px 20px;
    border-radius: 6px;
    background: #a29b44b3;
}
.single-item.item h4 {
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}
.single-item.item p {
    font-weight: 600;
    font-size: 10px;
    color: #000;
}
.single-item.item i {
    font-size: 12px;
    display: flex;
    border-radius: 50px;
    background: #fad002;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.single-itembody {
    height: 105px;
}
footer {
    /*width: 100%;
    color: #fff;
    background-image: url("../images/s17.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
}
footer img {
    width: 7rem;
}
.top_header{
padding:2rem;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.top_header section{
display:flex;
align-items:center;
justify-content:center;
width:100%;
}

.top_header span{
padding:0 1rem;
}

.top_header .fa{
color:#ffbe00;
font-size:35px;
}

footer .border-shape {
width: 40%;
}

footer .border-shape::before {
width: 100%;
left:120px;
}

footer .border-shape::after {
width: 100%;
right:120px;
}

footer .bottom_content section{
display:flex;
align-items:center;
justify-content:Center;
}

   footer ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;

}
.bottom_content a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    margin: 0px 20px;
    color: #000000d4;
    transition: 0.5s;
    text-transform: uppercase;
}

.bottom_content a:hover{
color:#ffc107;
}
.footer-copyright {
    border-top: 1px solid #6c757d33;
}
footer .bottom_content section i {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 50px;
    width: 25px;
    align-items: center;
}
.f-padding {
    padding: 0 20px;
}
.f-padding p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
}
.f-padding h4 {
    font-weight: 600;
    font-size: 20px;
}
section.text-center.soical-i a {
    margin: 0px 5px;
}
.copyright{
padding:0.8em 0;
background-color:#1e1e1e;
text-align:center;
color:rgba(255,255,255,0.7);
font-size:12px;
}
.footer-copyright p {
    color: #434343;
    margin: 0;
    font-size: 12px;
}
.footer-copyright p span {
    color: #d62329;
}
@media (max-width:820px){
.top_header{
padding:1rem;
display:block;
}

.top_header section{
margin:40px 0;
align-items:left;
justify-content:left;
}
footer .bottom_content section{
padding:1rem;
display:block;
}
footer .bottom_content section a{
font-size:10px;
margin:0 5px;
display:inline-block;
}
.footer-copyright p {
    margin: 0;
    font-size: 9px;
}
}
.aboutuspg-img img {
    transition: .3s ease-in-out;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.aboutuspg-img img:hover{
    transform: scale(0.9);
}
.about-whitebox:hover {
    background-color: #ed143d14;
    transition: all .5s;
    transform: translateY(10px);
}
.aboutuspg-content h1 {
    padding-bottom: 25px;
    font-weight: 900;
    font-size: 57px;
}
.aboutuspg-content h5 {
    padding-bottom: 23px;
    font-weight: 700;
}
.aboutuspg-img {
    height: 400px;
}
section.about-section {
    background: #f2f2f2;
}
.about-whitebox {
    transition: all 1s;
    font-size: 20px;
    background: #fff;
    padding: 20px 30px;
    font-family: ui-monospace;
}
.about-whitebox p {
    margin: 0;
}
.banner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}
.banner-heading h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: sans-serif;
    color: white;
}
.banner-sec{
    height: 400px;
    background-image: url("../images/S3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutpage-section{
    background: #f2f2f2
    }
.news-add-outlet {
    margin-bottom: 30px;
}
.news-img {
    height: 225px;
}
.news-img img {
    border-radius: 20px;
    display: block;
    height: 100%;
    width: 350px !important;
}
.news-content a {
    background: #ffc10799;
}

.news-content a:hover {
    background: #ffc10799!important;
}
.news-img img:hover {
    -webkit-transform: scale(1.06);
    -webkit-transition: all 0.5s ease-out 0s;
    max-width: 100%;
    display: block;
}
.Contactus-content h4 {
    padding-bottom: 35px;
    font-size: 50px;
    font-weight: 900;
    color: #0000005e;
}
ul.contact-ul {
    padding: 0;
    list-style: none;
}
.contact-ul i {
    color: #2125297a;
    border: 2px solid #2125297a;
    font-size: 16px;
    padding: 8px 8px;
    margin-right: 10px;
    border-radius: 50%;
}
/*.contact-ul li .fa-location-dot {
    color: #f44337;
    border: 2px solid #f4433790;
}
.contact-ul li .fa-phone {
    color: #00b055;
    border: 2px solid #00b05590;
}
.contact-ul li .fa-envelope {
    color: #ff6347;
    border: 2px solid #ff634790;
}*/
ul.contact-ul li {
    margin-bottom: 10px;
}
ul.contact-ul li a {
    font-weight: 700;
    color: #2125297a;
}
.contact-form {
    box-shadow: 0px 0px 2px 2px #adb5bd6b;
    padding: 20px 20px;
}
.contact-form label {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.contact-form label {
    margin: 20px 0px;
}
.contact-form input {
    border: 1px solid #ffc107;
    background: transparent;
    height: 50px;
    margin-bottom: 20px;
}
.btn-style input:hover {
    font-weight: 200;
    color: #fff!important;
    border: 1px solid #fff!important;
    background: #ab8923!important;
}
.btn-style input {
    color: #000;
    background: #ffc10791;
    padding: 10px 30px;
    font-size: 18px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 5px 5px #00000020;
}
.donate-btn a {
    text-decoration: none;
    background: #008000c4;
    color: #fff;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 14px;
}
.donate-btn {
    margin-top: 30px;
}
.donation i {
    font-size: 80px;
    color: #e5ad06cc;
}
.donate-section{
    height: 400px;
    background-position: 10%;
    background-image: url("../images/s10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.donation h1 {
    font-weight: 900;
    color: #6c757dc7;
}